 html {
    font-size: 11px;
    font-family:sans-serif;
 }
 .clickable {
    cursor:pointer;
 }
 .label {
    font-weight:bold;
 }
 div#body,div#head {
    margin:auto;
    width: 320px;
 }
 #head div#title {
    text-align:center;
    font-size: 3em;
 }
 div.label {
    font-size: 1.5em;
 }
 div.section {
    margin-top: 5px;
 }

/* Song CSS */
.song .name { color:red; }
.song .artist { color:green; }
.song .album { color:green; }
.song .genre { color:green; }
.song table.details { margin-left:5px; }
.song table.details td.label { text-align:right; }

#currsong li { list-style: none; }

