 html {
    font-size: 11px;
    font-family:sans-serif;
 }
 .clickable {
    cursor:pointer;
 }
 .link {
    cursor: pointer;
    font-color: blue;
    text-decoration: underline;
 }
 .label {
    font-weight:bold;
 }
 div#body,div#head {
    margin:auto;
    width: 622px;
 }
 #head div#title {
    text-align:center;
    font-size: 3em;
 }
 div.label {
    font-size: 1.5em;
 }
 div.section {
    margin-top: 5px;
 }

/* Navbar CSS */
#navbar {
    /* height:20px; */
    height:55px;
    width: 622px;
    overflow: auto;
}
#navbarslider {
    /* height:20px; */
    width: 746px;
    /* width: 622px; */
    height:42px;
}
#navbar .active { color:red; }
#navbar div.button { 
    float:left;
    border: solid thin black;
    margin: 3px;
    padding: 3px;
    width: 92px;
    height:28px;
    font-size: 22px;
    text-align: center;
}
#navbar div.clickable:hover { text-decoration:underline; color:blue; background: #FAFAFA; }


/* Song CSS */
.song .name { color:red; }
.song .artist { color:green; }
.song .album { color:green; }
.song .genre { color:green; }
.song table.details { margin-left:5px; }
.song table.details td.label { text-align:right; }

#currsong li { list-style: none; }

/* Attribute list CSS */
#attrlist .attr { color:red; }
