<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html ng-app='jukeApp'>
 <head>
  <title>Jukeberry</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='raspi.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jukeberry.css')}}" />
  <style>
#alwayson .active { color:red; }
#alwayson .button {
    margin:2px;
}

#raspi { display: none; }
#body.raspi {
    margin:auto;
    width: 620px;
    height: 421px;
    border: solid black thin;
}
#body.raspi div#views {
    width: 620px;
    /* height: 219px; */
    height: 361px;
    border-top: solid black thin;
    overflow: auto;
}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="/JukeCtrl.js"></script>
 </head>
 <body>
  <div id='head'>
   <div id='title'>Jukeberry</div>
  </div><!-- id='head' -->
  <div id='body' class='raspi' ng-controller="JukeCtrl">
   <div id="navbar">
    <div id="navbarslider">
     <div id='currbutt' class='clickable button' 
        ng-click='currvalue="";currattr="";setsection("current");refresh();' 
        ng-class="{'active':issection('current')}"
        ng-show="!issection('current');">
      Top</div>
     <div id='loadcatalog' class='clickable button'
        ng-show='catalogloaded == false'
        ng-click='load_catalog()'>
      Load ...</div>
     <div id='artistsbutt' class='clickable button' 
        ng-click='currattr="artist";setsection("attributes");' 
        ng-class="issection('attributes') && currattr=='artist' ? 'active' : ''">
      Artists</div>
     <div id='genresbutt' class='clickable button' 
        ng-click='currattr="genre";setsection("attributes");' 
        ng-class="issection('attributes') && currattr=='genre' ? 'active' : ''">
      Genres</div>
     <div id='browsebutt' class='clickable button' 
        ng-click='currvalue="";setsection("browse");' 
        ng-class="{'active':issection('browse')}">
      Browse</div>
     <div id='randomsbutt' class='clickable button' 
        ng-click='play_random();setsection("current");'
        ng-class="">
      Random</div>
     <div id='songsbutt' class='button active' 
        ng-click='play_random();'
        ng-show='issection("songlist");'>
      Songs</div>
     <div id='settingsbutt' class='clickable button' 
        ng-click='setsection("settings");' 
        ng-class="{'active':issection('settings')}">
      Settings</div>
    </div><!-- id="navbarslider" -->
   </div><!-- id="navbar" -->

   <div id='views'>

     <div id='current' class='view' ng-show='issection("current")'>
       <div id='currsong' class='section'>
        <span class='label'>Currently Playing:</span> 
           <ul ng-show='currsong'><li>
             <div class='song'>
               <span class='name'>{[currsong.title]}</span> <span class='time'>[{[currsong.secs|secs2hms:'h:m:s']}]</span><br />
               <table class='details'>
                 <tr><td class='label'>Artist(s):</td><td><span class='artist'>{[ (currsong.artist | filter:'!+').join(',') ]}</span></td></tr>
                 <tr><td class='label'>Album:</td><td><span class='album'>{[currsong.album]}</span></td></tr>
               </table><!-- class='details' -->
             </div>
           </li></ul>
       </div><!-- id='currsong' -->
       <div id='playlist' class='section'>
        <span class='label'>Next Up:</span> <span class='time' ng-show='playlist.length'>[{[get_playlist_length()|secs2hms:'h:m:s']}]</span>
         <ol>
             <li ng-repeat='song in playlist'>
               <div class='song'>
                 <span class='name'>{[song.title]}</span> <span class='time'>[{[song.secs|secs2hms:'h:m:s']}]</span><br />
                 <table class='details'>
                   <tr><td class='label'>Artist(s):</td><td><span class='artist'>{[ (song.artist | filter:'!+').join(',') ]}</span></td></tr>
                   <tr><td class='label'>Album:</td><td><span class='album'>{[song.album]}</span></td></tr>
                 </table>
               </div>
             </li>
             <li ng-show='alwayson.status && currsong'>
                 A random selection from
                 {[alwayson.filters.length > 0 ? alwayson.filters.0.attr+":"+alwayson.filters.0.value : "Everything"]}
             </li>
         </ol>
       </div><!-- id='playlist' -->
     </div><!-- id='current' -->

     <div id='songlist' class='view' ng-show='issection("songlist") || issection("browse");'>
        <div class='label' ng-show='currvalue != ""'>{[currattr]}:{[currvalue]}</div>
        <ol class='songs'>
          <li class='clickable' ng-repeat='song in find_songs(currattr,currvalue) | orderBy:"title"'>
              <div class='song' ng-click='play(song.artist,song.title);setsection("current");'>
                <span class='name'>{[song.title]}</span>
                <table class='details'>
                  <tr><td class='label'>Artist(s):</td><td><span class='artist'>{[ (song.artist | filter:'!+').join(',') ]}</span></td></tr>
                  <tr><td class='label'>Album:</td><td><span class='album'>{[song.album]}</span></td></tr>
                </table><!-- class='details' -->
              </div>
          </li>
        </ol>
     </div><!-- id='songlist' -->

     <div id='settings' class='view' ng-show='issection("settings");'>
      <div id='alwayson'>
        <span id='seton' class='clickable button'
           ng-click='set_alwayson(true);'
           ng-class='{"active":alwayson.status}'
         >on</span>
        <span id='setoff' class='clickable button'
           ng-click='set_alwayson(false);'
           ng-class='{"active":!alwayson.status}'
         >off</span>
      </div>
      <select ng-model="currattr">
        <option value="">Select Attr</option>
        <option value="artist">Artists</option>
        <option value="genre">Genres</option>
      </select>
      <select ng-model="currvalue" ng-options="attr for attr in find_attrs(currattr).sort()">
        <option value="">Select {[currattr]}</option>
      </select>
      <div>
       filters = {[alwayson.filters]}
      </div>
     </div><!-- id='settings' -->

     <div id='attributes' class='view' ng-show='issection("attributes")'>
       <div class='label'>Select {[currattr]}:</div>
        <ol id='attrlist'>
          <li class='clickable'
              ng-repeat='attr in find_attrs(currattr).sort()'
              ng-click='setfv(currattr,attr);setsection("songlist");'>
            <span class='attr'>{[attr]}</span><br />
            <span class='count'>{[find_songs(currattr,attr).length]} song(s)</span>
          </li>
        </ol>
     </div><!-- id='attributes' -->

   </div><!-- id='views' -->
  </div><!-- id='body' -->
 </body>
</html>
