<!doctype html>
<html ng-app='jukeApp'>
 <head>
  <title>Jukeberry</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='raspi.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jukeberry.css')}}" />
  <style>
#raspi { display: none; }
#body.raspi {
    margin:auto;
    width: 320px;
    height: 240px;
    border: solid black thin;
    overflow: auto;
}
.song .name { color:red; }
.song .artist { color:green; }
#currsong li { list-style: none; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="/JukeCtrl.js"></script>
 </head>
 <body>
  <div id='head'>
   <div id='title'>Jukeberry</div>
  </div><!-- id='head' -->
  <div id='body' class='raspi'>
   <div ng-controller="JukeCtrl">
    <div id='addsongs' class='section'>
     <a href='/artists.html'>Add Songs</a>
    </div><!-- id='addsongs' -->
    <div id='currsong' class='section'>
     <span class='label'>Currently Playing:</span> 
        <ul><li>
          <span class='song'><span class='name'>{[currsong.title]}</span><br />
          <span class='artist'>{[currsong.artist]}</span></span>
        </li></ul>
    </div><!-- id='currsong' -->
    <div id='playlist' class='section'>
     <span class='label'>Next Up:</span>
      <ol>
          <li ng-repeat='song in playlist'><span class='song'><span class='name'>{[song.title]}</span><br /><span class='artist'>{[song.artist]}</span></span></li>
      </ol>
    </div><!-- id='playlist' -->
   </div>
  </div><!-- id='body' -->
 </body>
</html>
