<!doctype html>
<html ng-app='jukeApp'>
 <head>
  <title>Jukeberry</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='raspi.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jukeberry.css')}}" />
  <style>
#raspi { display: none; }
#body.raspi {
    margin:auto;
    width: 320px;
    height: 240px;
    border: solid black thin;
}
#body.raspi div#views {
    width: 320px;
    height: 219px;
    border-top: solid black thin;
    overflow: auto;
}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="/JukeCtrl.js"></script>
 </head>
 <body>
  <div id='head'>
   <div id='title'>Jukeberry</div>
  </div><!-- id='head' -->
  <div id='body' class='raspi' ng-controller="JukeCtrl">

   <div id="navbar">
     <div id='currbutt' class='clickable button' 
        ng-click='setsection("current");' 
        ng-class="{'active':issection('current')}">
      Top</div>
     <div id='artistsbutt' class='clickable button' 
        ng-click='currattr="artist";setsection("attributes");' 
        ng-class="issection('attributes') && currattr=='artist' ? 'active' : ''">
      Artists</div>
     <div id='genresbutt' class='clickable button' 
        ng-click='currattr="genre";setsection("attributes");' 
        ng-class="issection('attributes') && currattr=='genre' ? 'active' : ''">
      Genres</div>
     <div id='browsebutt' class='clickable button' 
        ng-click='currvalue="";setsection("browse");' 
        ng-class="{'active':issection('browse')}">
      Browse</div>
     <div id='songsbutt' class='button active' 
        ng-show='issection("songlist");'>
      Songs</div>
   </div><!-- id="navbar" -->

   <div id='views'>

     <div id='current' class='view' ng-show='issection("current")'>
       <div id='currsong' class='section'>
        <span class='label'>Currently Playing:</span> 
           <ul ng-show='currsong'><li>
             <span class='song'>
               <span class='name'>{[currsong.title]}</span> <span class='time'>[{[currsong.secs|secs2hms:'h:m:s']}]</span><br />
               <table class='details'>
                 <tr><td class='label'>Artist(s):</td><td><span class='artist'>{[currsong.artist.join(",")]}</span></td></tr>
                 <tr><td class='label'>Album:</td><td><span class='album'>{[currsong.album]}</span></td></tr>
               </table><!-- class='details' -->
             </span>
           </li></ul>
       </div><!-- id='currsong' -->
       <div id='playlist' class='section'>
        <span class='label'>Next Up:</span> <span class='time' ng-show='playlist.length'>[{[get_playlist_length()|secs2hms:'h:m:s']}]</span>
         <ol>
             <li ng-repeat='song in playlist'>
               <span class='song'>
                 <span class='name'>{[song.title]}</span> <span class='time'>[{[song.secs|secs2hms:'h:m:s']}]</span><br />
                 <table class='details'>
                   <tr><td class='label'>Artist(s):</td><td><span class='artist'>{[song.artist.join(",")]}</span></td></tr>
                   <tr><td class='label'>Album:</td><td><span class='album'>{[song.album]}</span></td></tr>
                 </table>
               </span>
             </li>
         </ol>
       </div><!-- id='playlist' -->
     </div><!-- id='current' -->

     <div id='songlist' class='view' ng-show='issection("songlist") || issection("browse");'>
        <div class='label' ng-show='currvalue != ""'>{[currattr]}:{[currvalue]}</div>
        <ol class='songs'>
          <li class='clickable' ng-repeat='song in find_songs(currattr,currvalue) | orderBy:"title"'>
              <span class='song' ng-click='play(song.artist,song.title);setsection("current");'>
                <span class='name'>{[song.title]}</span>
                <table class='details'>
                  <tr><td class='label'>Artist(s):</td><td><span class='artist'>{[song.artist.join(",")]}</span></td></tr>
                  <tr><td class='label'>Album:</td><td><span class='album'>{[song.album]}</span></td></tr>
                </table><!-- class='details' -->
              </span>
          </li>
        </ol>
     </div><!-- id='songlist' -->

     <div id='attributes' class='view' ng-show='issection("attributes")'>
       <div class='label'>Select {[currattr]}:</div>
        <ol id='attrlist'>
          <li class='clickable'
              ng-repeat='attr in find_attrs(currattr).sort()'
              ng-click='setfv(currattr,attr);setsection("songlist");'>
            <span class='attr'>{[attr]}</span><br />
            <span class='count'>{[find_songs(currattr,attr).length]} song(s)</span>
          </li>
        </ol>
     </div><!-- id='attributes' -->

   </div><!-- id='views' -->

  </div><!-- id='body' -->
 </body>
</html>
